@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <a asp-action="cadastrar" asp-controller="produto">
        Cadastrar Produtos
        </a>
        <p> / </p>
        <a asp-action="Index" asp-controller="produto">
            Lista de Produtos Cadastrados
        </a>
    </ul>
</div>
